<configuration>
    <!-- 타임존을 KST로 설정 -->
    <timestamp key="byDefault" datePattern="yyyy-MM-dd'T'HH:mm:ss.SSSZ" timeZone="Asia/Seoul"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 타임 패턴을 설정한 타임존에 맞춰 변경 -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ, Asia/Seoul} [%X{request_id}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
